<div class="container">
<p><h1>Oleksandr Kobzar</h1>
<p><h2> Angular Dev/QA</h2>
    <button routerLink="/" routerLinkActive="active one" [routerLinkActiveOptions]="{exact: true}">About me</button>
    <button routerLink="/second" routerLinkActive="active two">Hard Skils</button>
    <button routerLink="/third" routerLinkActive="active three">Soft Skils</button>
    <button routerLink="/fourth" routerLinkActive="active four">Contact me</button>
<br>
<hr>

<router-outlet></router-outlet>
</div> 
<div class="container">
 