<table>
    <thead>
	    <tr>
		    <p><h3><img src="./assets/angular logo.png" width="50" alt="">  Angular</h3>
	    </tr>
        <tr>
		    <p><h3><img src="./assets/node logo.png" width="50" alt=""> NodeJS</h3>
	    </tr>
        <tr>
			<p><h3><img src="./assets/html logo.jpg" width="60" alt="">  HTML</h3>
			<td><h3>CSS</h3></td>
	    </tr>
		<tr>
		    <p><h3><img src="./assets/docker logo.png" width="70" alt="">  Docker</h3>
	    </tr>
        <tr>
		    <p><h3><img src="./assets/cloud logo.png" width="70" alt="">  Google Cloud</h3>
	    </tr>
		<tr>
		    <p><h3><img src="./assets/mysql logo.png" width="70" alt="">  MS SQL</h3>
	    </tr>
		<tr>
		    <p><h3><img src="./assets/c++ logo.png" width="50" alt="">  C++</h3>
	    </tr>
		<tr>
		    <p><h3><img src="./assets/java logo.png" width="70" alt="">  Java</h3>
	    </tr>
    </thead>
</table>