
	    
		    <td><img src="./assets/logo.jpg"   width="70%" height="auto" alt=""></td>
          <td> </td>
		     <p>Hi there!</p>
             <p> I'm creating Angular projects, deploy using cloud technology and do automatic testing for them. </p>
             <p> Now, I'm looking new interesting projects. I wont join to team talented people who change the world for the better.</p>
             <p>I have a deep understanding of quality assurance processes and implement them in my life. 
                I’m very ambitious and always try to do my job hard to get the best results.</p>
